<div class="container">
    <nav>
      <h1>Typerorr</h1>
      
    </nav>
  
    <main>
      <div *ngIf="game !== 'game over'" class="game" [attr.data-game]="game">
        <input
        [(ngModel)]="typedLetter"
        (input)="updateGameState()"
        (keydown)="handleKeydown($event)"
        class="input"
        type="text"
        #inputEl>
        <div class="time">{{seconds}}</div>
  
        <div #wordsEl class="words">
          <span *ngFor="let part of words">
            <span class="word">
              <span *ngFor="let letter of part.split('')" class="letter">{{ letter }}</span>
            </span>
          </span>
          <div #caretEl class="caret"></div>
        </div>
      </div>
  
      <div *ngIf="game === 'game over'" class="results">
      
        <p>Game Over</p>
        <button class="returnToLobby" (click)="returnToLobby()">Return to lobby</button>
      </div>
  
    </main>
  </div>